<?php

require_once('include/utils/file_utils.php');

$modules = [
    {{#modules}}
    "{{name}}",
    {{/modules}}
];

echo "<h3>ListView Extender</h3>";

foreach ($modules as $module) {
    $hookDir = "./custom/modules/${module}/views/view.list.d";
    $files = array();
    getFiles($files, $hookDir);
    echo "<p><b>${module} @ ${hookDir}</b><br/>";
    foreach ($files as $file) {
        echo "<i>${file}</i>";
    }
    echo "</p>";
}